debian/build
debian/busybox.debhelper.log
debian/files
debian/stamps
debian/vyatta-busybox
debian/vyatta-busybox.debhelper.log
debian/vyatta-busybox-static.debhelper.log
debian/vyatta-busybox.substvars
debian/vyatta-busybox-udeb.debhelper.log
