Source: vyatta-busybox
Priority: optional
Section: utils
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>> 7), lsb-release, quilt
Standards-Version: 3.7.3

Package: vyatta-busybox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: busybox
Replaces: busybox
Description: Tiny utilities for small and embedded systems
 BusyBox combines tiny versions of many common UNIX utilities into a single
 small executable. It provides minimalist replacements for the most common
 utilities you would usually find on your desktop system (i.e., ls, cp, mv,
 mount, tar, etc.). The utilities in BusyBox generally have fewer options than
 their full-featured GNU cousins; however, the options that are included
 provide the expected functionality and behave very much like their GNU
 counterparts.
 .
 This package installs the BusyBox binary but does not install
 symlinks for any of the supported utilities. Some of the utilities
 can be used in the system by installing the busybox-syslogd,
 busybox-udhcpc or busybox-udhcpd packages.
